.you{
    width: 500px;
    height: 400px;
}
.me{
    background-color: aqua;
}
.if{
    background-color: greenyellow;
    text-align: center;
}
.go{
    color: brown;
}
.we{
    width: 500px;
    height: 400px;
}
.be{
    color: blue;
}
.do{
    color: blueviolet;
}