.you{
    width: 500px;
    height: 400px;
}
.me{
    background-color: aqua;
}
.if{
    background-color: greenyellow;
    text-align: center;
}
.go{
    color: brown;
}
.we{
    width: 500px;
    height: 400px;
}
.be{
    color: blue;
}
.do{
    color: blueviolet;
}

.wa{
    width: 500px;
    height: 400px;
}

.zoo{
    width: 500px;
    height: 400px;
}

.ob{
    width: 500px;
    height: 400px;
}

.Ib{
    width: 500px;
    height: 400px;
}
.m{
    text-align: center;
    color: red;
}
.p{
    width: 500px;
    height: 400px;
}
.u{
    width: 600px;
    height: 500px;
}
.l{
    width: 600px;
    height: 500px;
}
.O{
    text-align: center;
    color: red;
}
.k{
    text-align: center;
    color: blue;
}
.s{
    width: 500px;
    height: 400px;
}
.q{
    text-align: center;
    color: blue;
}
.x{
    width: 500px;
    height: 400px;
}
.g{
    text-align: center;
    color: blue;
}
.d{
    width: 500px;
    height: 400px;
}
.caf{
    text-align: center;
    color: red;
}
.to{
    width: 500px;
    
}
    
